/* Base Styles*/
body{
    font-family: 'Roboto', sans-serif; 
}
div.main{
    width: 90%;
    margin: 50px auto;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
h2{
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 120px;
    float: right;
    border: 1px solid #7a7a7a;
    padding: 5px;
    font-size: 20px;
}
p{
    margin: 15px;
    margin-top: 50px;
}
h2.chicken{
    background: #E74C3C;
    color: #ffffff;
}
h2.beef{
    color: #ffffff;
    background: #884EA0;
}
h2.sushi{
    color: #ffffff;
    background: #E67E22;
}
div.card{
    box-sizing: border-box;
    border: 2px solid #7a7a7a;
    padding: 0px 0px 15px 15px;
    margin: 20px;
    background: #e2e2e2;
    display: inline-block;
}


/* Media Queries */

    /* Desktop Version */
@media (min-width: 992px){
    div.card{
        width: 30%;
        margin-right: 1.5%;
        margin-left: 1.5%
    }
}

    /* Tablet Version */
@media (min-width: 768px) and (max-width: 991px){
    div.card{
        width: 46.5%;
        margin-left: 3%;
        margin-right: 3%;
    }
    div.left{
        margin-left: 0px;
    }
    div.right{
        margin-right: 0px;
    }
    div.sushiCard{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px; 
    }
}

    /* Mobile Version */
@media (max-width: 767px){
    div.card{
        width: 100%;
    }
}
